.checkbox {
  display: flex;
  width: 200px;
  height: 2rem;
  border: 1px solid #888;
  box-shadow: 2px 2px 2px #0005;
  border-radius: 20px;
  position: relative;
  overflow: hidden;

  input[type="checkbox"],
  label {
    position: absolute;
    inset: 0;
  }

  input[type="checkbox"] {
    appearance: none;
    cursor: pointer;

    &:checked + label {
      transform: translateX(0px);
    }
  }

  label {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    pointer-events: none;
    transform: translateX(-100px);
    transition: transform 200ms ease-in-out;

    & > div {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;

      &.red {
        background: #c9211e;
        color: #fff;
        position: relative;

        &:first-child:after,
        &:last-child:before {
          content: "";
          position: absolute;
          width: 20px;
          height: 100%;
          background: #c9211e;
        }

        &:first-child:after {
          left: 100%;
        }

        &:last-child:before {
          right: 100%;
        }
      }
    }

    .toggle {
      border: 1px solid #888;
      border-radius: 20px;
      z-index: 2;
      background: #fff;
    }
  }
}
