.loginPage {
  padding-inline: calc(50% - 300px);
  gap: 40px;

  .banner {
    justify-content: center;
    .logo {
      max-height: 150px;
    }
    h1 {
      font-size: 4em;
      transform: translateX(-30px);
    }
  }
}
