.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &.g0 {
    gap: 0;
  }

  &.g1 {
    gap: 1rem;
  }

  &.g2 {
    gap: 1.5rem;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.g0 {
    gap: 0;
  }

  &.g1 {
    gap: 1rem;
  }

  &.g2 {
    gap: 1.5rem;
  }
}

button {
  border: none;
  outline: none;
  padding: 0.5rem 1.5rem;
  color: #fff;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;

  &.red {
    background: #c00;
  }

  &.green {
    background: #080;
    padding: 1.25rem;
    font-size: 1rem;
  }

  &.icon {
    padding: 0.5rem 0.75rem;
  }

  &.hide {
    visibility: hidden;
  }
}

.table {
  border-collapse: collapse;
  background: #fff;
  border-radius: 4px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #aaa;
  overflow: hidden;

  td {
    border: 1px solid #aaa;

    &:first-child {
      background: #dedede;
      width: 50%;
      font-weight: bold;
      padding: 0.5rem 1rem;
    }
  }
}

input[type="text"] {
  border: none;
  outline: none;
  height: 35px;
  width: 100%;
  padding: 0 1rem;

  &.error {
    border: 1px solid #f00;
  }
}
