@use "utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;

  & > * {
    padding: 0.5rem max(calc(50vw - 450px), 1rem);
  }

  & > header {
    position: sticky;
    top: 0;
    min-height: 66px;
  }

  & > header .logo {
    max-height: 20px;
  }

  @media (min-width: 420px) {
    & > header .logo {
      max-height: 50px;
    }
  }

  & > header,
  & > footer {
    background: #333;
    color: #fff;
    z-index: 10;
  }

  .breadcrumb {
    position: sticky;
    top: 66px;
    display: flex;
    flex-direction: row-reverse;
    gap: 2px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding-block: 0;
    height: 50px;
    font-size: 12px;
    z-index: 10;

    .link {
      flex-grow: 1;
      background: #fff;
      padding-block: 0.5rem;
      padding-left: 30px;
      font-weight: 600;
      position: relative;
      display: flex;
      align-items: center;
      text-align: center;

      &.active,
      &.active ~ .link {
        color: #900;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-right-width: 0;
      }

      &::before {
        left: 0;
        border-left-color: #e5e5e5;
      }

      &::after {
        left: 100%;
        border-left-color: #fff;
        z-index: 2;
      }

      &:last-child {
        padding-left: 0.5rem;
      }

      &:first-child {
        padding-right: 0.5rem;
      }

      &:last-child::before,
      &:first-child:after {
        display: none;
      }
    }
  }

  & > main {
    flex-grow: 1;
    background: #f5f5f5;
  }
}

section.muted {
  background: #e6e6e6;
  padding: 1.5rem;
  border-radius: 4px;
}

.w-600 {
  padding-inline: calc(50% - 300px);
}

.w-700 {
  padding-inline: calc(50% - 350px);
}
